.head-text h1 {
    font-size: 70px;
    margin-bottom: 30px;
}

.head-container {
    flex: 50%;
}

.head-text {
    margin-right: 20px;
    width: 50%;
}

.head-img {
    margin-left: 20px;
    width: 50%;
}

.head-img-content {
    width: 100%;
    max-width: 560px;
}

.head-status-info-item {
    margin-right: 18px;
}

.head-container-item {
    flex: 30%;
}

.head-status-difficulty {
    margin-left: 40px;
}