.head-text h1 {
    font-size: 70px;
    margin-bottom: 30px;
}

.head-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.head-status-info-item {
    margin-right: 18px;
}

.head-img-content {
    width: 100%;
}

.head-status-difficulty {
    margin-left: 40px;
}

@media (max-width: 768px) {
    .head-container {
        grid-template-columns: 1fr;
    }

    .head-img {
        grid-row-start: 1;
        grid-row-end: 2;
    }
    

}