<div class="d-flex head-container justify-content-between">
    <div class="head-text">
        <h1>{{ recipe.name }}</h1>
        <div class="head-status d-flex justify-content-between">
            <div class="head-status-info d-flex">
                <div class="head-status-info-item">
                    <h5>Total Time</h5>
                    <h5>6h 10m</h5>
                </div>
                <div class="head-status-info-item">
                    <h5>Total Time</h5>
                    <h5>6h 10m</h5>
                </div>
                <div class="head-status-info-item">
                    <h5>Total Time</h5>
                    <h5>6h 10m</h5>
                </div>
                <div class="head-status-info-item">
                    <h5>Total Time</h5>
                    <h5>6h 10m</h5>
                </div>
            </div>
            <div class="head-status-difficulty">
                <div class="head-status-difficulty-item">
                    <app-star [starQuantity]="recipe.difficulty"></app-star>
                </div>
            </div>
        </div>
    </div>
    <div>
        <img class="head-img-content" src="{{ recipe.image }}">
    </div>
</div>
