h1 {
    font-size: 70px;
}

.head-container {
    flex: 50%;
}

.head-text {
    margin-right: 0px;
    width: 50%;
}

.head-img {
    width: 50%;
}

.head-img-content {
    width: 100%;
    max-width: 560px;
}

.head-status-info-item {
    margin-right: 12px;
}