<div class="d-flex head-container justify-content-between">
    <div class="head-text head-container-item">
        <h1>{{ recipe.name }}</h1>
        <div class="head-status d-flex justify-content-between">
            <div class="head-status-info d-flex">
                <div class="head-status-info-item">
                    <h6 class="font-weight-light">Total Time</h6>
                    <h6 class="font-weight-normal">6h 10m</h6>
                </div>
                <div class="head-status-info-item">
                    <h6 class="font-weight-light">Total Time</h6>
                    <h6 class="font-weight-normal">6h 10m</h6>
                </div>
                <div class="head-status-info-item">
                    <h6 class="font-weight-light">Total Time</h6>
                    <h6 class="font-weight-normal">6h 10m</h6>
                </div>
                <div class="head-status-info-item">
                    <h6 class="font-weight-light">Total Time</h6>
                    <h6 class="font-weight-normal">6h 10m</h6>
                </div>
            </div>
            <div class="head-status-difficulty">
                <span>Difficulty</span>
                <div class="head-status-difficulty-item">
                    <app-star [starQuantity]="recipe.difficulty"></app-star>
                </div>
            </div>
        </div>
    </div>
    <div class="head-container-item">
        <img class="head-img-content" src="{{ recipe.image }}">
    </div>
</div>
