<div>
    <div id="spotlight-title">
        <h2>Spotlight Recipes</h2>
    </div>
    <div id="spotlight-cards" class="d-flex justify-content-between">
        <div class="card-margin" *ngFor="let recipe of recipeSpotlightList">
            <app-card [recipe]="recipe" (cardClicked)="handleCardClicked($event)"></app-card>
        </div>
    </div>
    <div id="spotlight-navigation">
        <div class="d-flex justify-content-center">
            <a id="spotlight-arrow-left" class="btn btn-outline-warning rounded-circle">
                <fa-icon [icon]="faArrowLeft"></fa-icon>
            </a>
            <a id="spotlight-arrow-right" class="btn btn-outline-warning rounded-circle">
                <fa-icon [icon]="faArrowRight"></fa-icon>
            </a>
        </div>
    </div>
</div>