.detail-section-mid {
    display: flex;
    justify-content: space-between;

    margin-top: 30px;
}

.item-width {
    width: 100%;
}

.detail-section-mid-item {
    flex: 50%;
}

.detail-container-step-by-step {
    margin-right: 20px;
}

.detail-container-ingredient {
    margin-left: 60px;
}

@media (max-width: 768px) {
    .detail-section-mid {
        flex-direction: column-reverse;
    }

    .detail-container-ingredients {
        margin-bottom: 30px;
    }
}