.detail-section-mid {
    margin-top: 30px;
}

.item-width {
    width: 100%;
}

.detail-section-mid-item {
    flex: 50%;
}

.detail-container-step-by-step {
    margin-right: 20px;
}

.detail-container-ingredient {
    margin-left: 60px;
}