.app-content {
    min-height: 86.3vh;
    margin-top: 35px;
}

.recipe-container {
    width: 90%;
    max-width: 1140px;

    margin: 40px auto;

    display: flex;
    justify-content: space-between;
}