<div class="welcome-container">
    <div class="welcome-item-size pr-3">
        <h6>Welcome</h6>
        <h1>Its all about Good</h1>
        <h1>Food & Taste</h1>
        <p class="text-justify">
            In this space you'll have the opportunity to see a recipe collection separated into categories. Have a nice experience.
        </p>
        <a class="btn btn-warning pl-3" [routerLink]="['/recipes/contact']">
            Show More
        </a>
    </div>
    <div class="welcome-item-size">
        <img src="https://media3.s-nbcnews.com/i/streams/2014/October/141002/2D274906915359-today-plates-14101-tease.jpg">
    </div>
</div>
