.welcome-container {
    display: flex;
}

.welcome-item-size {
    flex: 50%;
}

img{
    width: 100%;
    max-width: 600px;
}

@media (max-width: 768px){
    .welcome-container {
        flex-direction: column-reverse;

    }
    
}