<div id="card-container" class="card rounded shadow">
    <div (click)="handleClick()">
        <img src="{{recipe.image}}" class="card-img-top" alt="" *ngIf="recipe">
        <div>
            <h5 id="card-title" class="card-title">
                {{ recipe.name }}
            </h5>
            <div id="card-subtitle" class="d-flex d-flex justify-content-between align-items-center">
                <span class="badge bg-warning text-dark badge-padding">
                    {{ recipe.categoryLabel }}
                </span>
                <app-star [starQuantity]="recipe.difficulty"></app-star>
            </div>
        </div>
    </div>
</div>