:host {
    width: 100%;
}

.recipe-list {
    margin-top: 40px;
}

.recipes-select {
    // margin-top: 35px;
}

.button-group {
    margin-left: 10px;
}

.button-item {
    margin: 0 5px
}

@media (max-width: 320px) {
    .custom-select {
        min-width: 16.8rem;
    }
}