.ingredients-background {
    background: #f2f2f2;
}

.ingredients-content {
    padding: 20px;
}

.ingredient-list {
    margin-top: 20px;
}

.ingredient-list-item {
    margin-bottom: 10px;
}

.ingredient-list-item-icon {
    margin-right: 6px;
}