.card-margin{
    margin-bottom: 1.5rem;;
}

#categories-title-navigation {
    margin-bottom: 12px;
}

#categories-arrow-left {
    margin-right: 8px;
}

#categories-arrow-right {
    margin-left: 8px;
}