.badge-padding {
    padding: 8px;
}

#card-container {
    width: 16rem;
    height: 18rem;
}

#card-title {
    margin: 10px 0px 0px 14px;
}

#card-subtitle {
    margin-right: 10px;
}

#spotlight-navigation {
    margin-top: 10px;
}