<div class="d-flex justify-content-between">
    <div class="welcome-item-size">
        <h6>Welcome</h6>
        <h1>Its all about Good</h1>
        <h1>Food & Taste</h1>
        <p class="text-justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nec tortor egestas velit euismod varius. Donec dictum egestas tortor, sed pharetra lacus. Nam mollis nibh non egestas malesuada. Nulla sed dolor orci.
        </p>
        <button class="btn btn-warning">
            Show More
        </button>
    </div>
    <div class="welcome-item-size">
        <img src="https://media3.s-nbcnews.com/i/streams/2014/October/141002/2D274906915359-today-plates-14101-tease.jpg">
    </div>
</div>
